

<ion-content>
<img class="TopImg" src="../../assets/images/login.png">
<ion-input type="text" placeholder="Mobile Number" class="shadow1">
  <img class="FlagImg" src="../../assets/images/france.png" alt=""> +973
<!-- <ion-icon name="mail-outline" slot="start" class="icn-input"></ion-icon> -->
</ion-input>
<a href="#">
  <ion-button class="startbutton" size="">Continue <ion-icon class="ContinueBtnIcn" name="arrow-forward-circle"></ion-icon></ion-button>
</a>
<a href="#" class="or">or</a>
<a href="#" class="IcnRow">
  <ion-icon class="Gicn" name="logo-google"></ion-icon>
  <ion-icon class="Ficn" name="logo-facebook"></ion-icon>
  <ion-icon class="Cicn" name="call"></ion-icon></a>
</ion-content>
