<ion-content class="body">
  <ion-slides pager={true} options={slideOpts}>
    
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <img class="slide-1" src="./../../assets/images/e-l-s-1.png" alt="slide1"/>
               
      </ion-col>
      <ion-col size="12"></ion-col>
      </ion-row>
    
    </ion-slide>


    <ion-slide>
      <ion-row>
        <ion-col>
        <h1 class="slide-title">send invitetions</h1>
        <img class="slide-1" src="./assets/images/v-invitetion.png" alt="slide1"/>     
        <p class="slider-para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, labore.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, labore.
        </p>
   
       </ion-col>
     </ion-row>
      
       </ion-slide>

       <ion-slide>
        <ion-row>
          <ion-col>
          <h1 class="slide-title">track visitors</h1>
          <img class="slide-1" src="./assets/images/v-p-h.png" alt="slide1"/>     
          <p class="slider-para">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, labore.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, labore.
          </p>
     
         </ion-col>
       </ion-row>
        
         </ion-slide>



    <ion-slide>
    <ion-row>
      <ion-col>
        <h1 class="slide-title">eco friendly</h1>
        <img class="slide-1" src="./assets/images/v-home.png" alt="slide1"/>     
        <p class="slider-para para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, labore.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, labore.
        </p>
     <div class="logbtn">
     <a href="/Login/login">
      <ion-button class="startbutton"  shape="round"> <ion-icon name="logo-facebook" slot="start"></ion-icon>login with facebook</ion-button>
      <ion-button class="startbutton"  shape="round"> <ion-icon name="logo-google" slot="start"></ion-icon>login with google</ion-button>
      </a>
      </div>
      </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>