<!-- <div style="background-color: white;"> -->

  <ion-content color="dark" style="background-color: rgb(253, 252, 252);">

<ion-grid >
  <ion-row  class="ion-margin-horizontal ion-margin-vertical "style="font-size: 20px;margin-bottom: 42px;" >
    <ion-col class="profilee" size="1" style="margin-right: 12px;">
      <a href=""><i class="fas fa-arrow-alt-circle-left"></i></a>
    </ion-col>
    <ion-col><b>Profile</b></ion-col>
    <ion-col size="1" class="profilee">
      <a href=""><i class="fas fa-eraser"></i></a>
    </ion-col>
  </ion-row>
<ion-row class="ion-margin-horizontal ion-margin-vertical">
  <ion-avatar>
    <img class="img1" src="https://i.pravatar.cc/150?img=56">
  </ion-avatar>
<ion-title style="font-size: 28px;">
<b>Antonio Perez</b>
</ion-title>
</ion-row>
<ion-row>
  <ion-col>
    <ion-title color="medium" size="small">Become Seller</ion-title></ion-col>
    <ion-col class="ion-text-right">
  <ion-toggle color="primary"checked id="toggle" ></ion-toggle>
</ion-col>
</ion-row>
<ion-row>
  <ion-col style="text-align: right;">
    <ion-button class="btn-color"  shape="round" id="profile">Profile</ion-button></ion-col>
    <ion-col>
<ion-button  shape="round" class="btn-color">Seller</ion-button>
</ion-col>
</ion-row>

</ion-grid>
<!-- <ion-grid id="grid1">
  <ion-row >

    <ion-card class="card">
      <div class="divv">
        <ion-icon  class="fas fa-envelope icon1"></ion-icon>
        <ion-card-header>
          <ion-card-title class="title" style="color: black;">
            antonioperez@gmail.com</ion-card-title>
            <ion-card-subtitle class="sub-title" style="margin-top: 0;">Email</ion-card-subtitle>
          </ion-card-header>
        </div>
    </ion-card>
    <ion-card class="card">
      <div class="divv">
        <ion-icon  class=" fas icon2 fa-male  "></ion-icon>
        <ion-card-header>
          <ion-card-title  class="title" style="color: black;">Gender</ion-card-title>
            <ion-card-subtitle  class="sub-title" style="margin-top: 0;">Male</ion-card-subtitle>
          </ion-card-header>
        </div>
    </ion-card>
    <ion-card class="card">
      <div class="divv">
        <ion-icon  class="fas icon3  fa-calendar"></ion-icon>
        <ion-card-header>
          <ion-card-title  class="title" style="color: black;">02 JUN 1994</ion-card-title>
            <ion-card-subtitle  class="sub-title" style="margin-top: 0;">Date of Birth</ion-card-subtitle>
          </ion-card-header>
                </div>
    </ion-card>
    <ion-card class="card">
      <div class="divv">
        <ion-icon  class="fas icon4 fa-map-marker-alt"></ion-icon>
        <ion-card-header>
          <ion-card-title  class="title" style="color: black;">202 Street,Bahrain</ion-card-title>
            <ion-card-subtitle  class="sub-title" style="margin-top: 0;">Address</ion-card-subtitle>
          </ion-card-header>
                </div>
    </ion-card>
    <ion-card class="card">
      <div class="divv">
        <ion-icon  class="fas icon5 fa-phone-volume"></ion-icon>
        <ion-card-header>
          <ion-card-title  class="title" style="color: black;">+973 9876543210</ion-card-title>
            <ion-card-subtitle  class="sub-title" style="margin-top: 0;">Mobile Number</ion-card-subtitle>
          </ion-card-header>
                </div>
    </ion-card>
    <ion-card class="card">
      <div class="divv">
        <ion-icon  class="fas icon6 fa-suitcase"></ion-icon>
        <ion-card-header>
          <ion-card-title  class="title" style="color: black;">MBA</ion-card-title>
            <ion-card-subtitle  class="sub-title" style="margin-top: 0;">Education Details</ion-card-subtitle>
          </ion-card-header>
                </div>
    </ion-card>
  </ion-row>
</ion-grid>
 -->

 <ion-grid id="grid2">
  <ion-row id="row">

    <ion-card class="card">
      <div class="divv">
        <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
        <ion-icon color="success" class="fas fasii1 fa-user-circle"></ion-icon>
        <ion-card-header>
          <ion-card-title class="title" style="color: black;">
            ID Proof</ion-card-title>
            <ion-card-subtitle class="sub-title" style="margin-top: 0;">Passport, Citizen ID</ion-card-subtitle>
          </ion-card-header>
          <ion-badge class="badge1 badge" shape="round">Primary</ion-badge>
        </div>
    </ion-card>
    <ion-card class="card">
      <div class="divv">
        <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
        <ion-icon  class="fas fasii2 fas fa-university"></ion-icon>
        <ion-card-header>
          <ion-card-title  class="title" style="color: black;">
           Banking Details</ion-card-title>
            <ion-card-subtitle  class="sub-title" style="margin-top: 0;">Add Bank Details</ion-card-subtitle>
          </ion-card-header>
          <ion-badge class="badge2 badge" shape="round">Approved</ion-badge>
        </div>
    </ion-card>
    <ion-card class="card">
      <div class="divv">
        <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
        <ion-icon  class="fas fasii3 fas fa-briefcase"></ion-icon>
        <ion-card-header>
          <ion-card-title  class="title" style="color: black;">
            Work Experirence</ion-card-title>
            <ion-card-subtitle  class="sub-title" style="margin-top: 0;">Add Professional Experience</ion-card-subtitle>
          </ion-card-header>
                </div>
    </ion-card>
  </ion-row>
</ion-grid>
</ion-content>

